body{
	background-color:beige;
}

h1 {
	text-align: center;
	color: teal;
	background-color:greenyellow;
	border-style: groove;
	border-color: green;
	border-width: 5pt;
	padding: 15pt;


}
h2 {
	color: darkgreen;
	background-color: mediumseagreen;
}
li.time {
	font-weight: bold;
}
table {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-spacing: 0px;
	padding: 5px;
}
caption {
	color: green;
	background-color: turquoise;
	font-size: 1.2em;
	font-weight: 700;
	}
th {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	color: white;
	background-color: darkgreen;
}
td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
	color: black;
	background-color:#f5deb3;
}

td.break {
	color: black;
	background-color: yellow;
}

strong{
	color: red;
	background-color: white;
}

li.practice{
	color: navy;
	font-style:oblique;
}

li.meeting{
	color: teal;
	font-style:oblique;
}

li#game{
	color: firebrick;
	font-style:oblique;
}

h2#tag{
	color:brown;
}
